.image-container {
  text-align: center;
  display: block;
  padding-bottom: 50px;
}

.image-text {
  position: absolute;
  display: block;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.field {
  opacity: 0.4;
  filter: contrast(50%);
  max-width: 100%;
  height: auto;
}

.content {
  white-space: pre-wrap;
}

.header-font {
  font-size: 4em;
}

@media (max-width: 600px) {
  .header-font {
    font-size: 2em;
  }
  .image-text {
    top: 25%;
  }
}
