.image-container {
  position: relative;
  text-align: center;
}

.image-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.field {
  opacity: 0.4;
  filter: contrast(50%);
  max-width: 100%;
  height: auto;
}
